.backdrop-section {
  width: 100%;
  min-height: clamp(400px, 50vh, 800px);
  background-size: 100%;
  background-position: 0% 30%;
}

.user-info-section {
  border-bottom: 2px solid var(--divider);
}

.profile-wrapper {
  margin-top: -9rem;
  /* margin-top: clamp(-12rem, -15rem, - 40rem); */
  padding: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 4rem;
  /* border: 1px solid red; */
}

.profile-wrapper .profile-left {
  /* padding: 1rem 0; */
}

/* .profile-wrapper .profile-right {
  margin-bottom: -3rem;
} */

.profile-img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--accent-color);
  box-shadow: 0px 0px 15px rgb(50, 50, 50);
}

/* .profile-right {
  margin-top: 5rem;
} */

.profile-wrapper .profile-name {
  font-size: clamp(1.8em, 1.7vw, 5em);
  font-weight: 600;
  display: inline-block;
}

.profile-wrapper .profile-username {
  font-size: clamp(1.2em, 1.1vw, 3.6em);
  font-weight: 400;
  margin-bottom: 1rem;
}

.profile-wrapper h3 {
  color: var(--darker-gray);
  font-weight: 400;
}
