.backdrop-section {
  width: 100%;
  min-height: clamp(550px, 50vh, 800px);
  background-size: cover;
  background-position: 0% 30%;
  background-repeat: no-repeat;
  position: relative;
}

.user-info-section {
  /* border-bottom: 2px solid var(--divider); */
  position: absolute;
  bottom: 0%;
  width: 100%;
}

.profile-wrapper {
  width: 75%;
  /* margin-top: -9rem; */
  padding: 3rem 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 2rem;
}

/* .profile-left {
  padding: 2rem 0;
} */

.profile-wrapper .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid var(--white-text);
  box-shadow: 0px 0px 15px rgb(50, 50, 50);
}

.profile-wrapper .profile-name {
  font-size: clamp(1.8em, 1.6vw, 5em);
  font-weight: 600;
  display: inline-block;
  color: var(--white-text);
}

.profile-wrapper .profile-company {
  font-size: clamp(1.1em, 0.95vw, 3.6em);
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--white-text);
}

.profile-right .address {
  color: var(--grayish-text);
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.3rem;
}

.profile-right .social-links {
  gap: 0.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.profile-right .social-links a:not(:last-child) {
  border-right: 1px solid var(--grayish-text);
}

.profile-right .social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  color: var(--grayish-text);
  transition: color 200ms ease-out;
  padding-right: 1rem;
}

.profile-right .social-links a:hover {
  color: var(--white-text);
}

.profile-section {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  padding: 5rem 0;
}

.profile-sidebar {
  height: fit-content;
  padding-right: 2rem;
  /* border-right: 1px solid var(--divider); */
}

.profile-sidebar-links a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  color: var(--darker-gray);
}

.profile-sidebar .follow-section {
  margin-top: 2rem;
}

.profile-sidebar button {
  padding: 1rem 2rem;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--white-text);
  transition: all 200ms ease-out;
}

.profile-sidebar button:hover {
  background-color: var(--tertiary-color);
  color: var(--dark-text);
}

.main-profile-section {
  border-left: 1px solid var(--divider);
  padding: 0 2rem;
}

.main-profile-section .title {
  font-size: 2rem;
}
