.page-header {
  width: 100%;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--divider);
}

.page-navbar {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-logo a {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-logo img {
  width: 55px;
  height: 55px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li:not(:last-child) {
  margin-right: 3rem;
}

.nav-link a {
  color: var(--primary-color);
  font-weight: 500;
  font-size: clamp(1em, 0.9vw, 3.5rem);
}

.user-action-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.user-action-links a:first-of-type {
  color: var(--primary-color);
}

.user-action-links a:last-of-type {
  background-color: var(--primary-color);
  color: var(--white-text);
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  transition: 200ms all ease;
}

.user-action-links a:last-of-type:hover {
  background-color: var(--white-text);
  outline: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.logged-user {
  position: relative;
}
.logged-user div:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  transition: filter 200ms ease;
}

.logged-user img {
  width: 40px;
  height: 40px;
}

.logged-user div:first-of-type:hover {
  filter: opacity(80%);
}

.logged-user .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: all 250ms ease;
  position: absolute;
  left: 0%;
  transform: translateX(-25%);
  width: 10rem;
  background-color: var(--white-text);
}

.logged-user .dropdown > * {
  display: block;
  width: 100%;
  white-space: nowrap;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid var(--divider);
  text-align: center;
}

.logged-user .dropdown.visible {
  opacity: 1;
  visibility: visible;
  display: flex;
}
