.single-blog-page {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
}

/******* BLOG USER SECTION *******/

.blog-section .user-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-section .user-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.user-social-links a {
  color: var(--gray-color);
  transition: color 200ms ease;
}

.user-social-links a:hover {
  color: black;
}

.blog-section .user-details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.blog-section .user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.blog-section .user-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.blog-section .user-detail {
  display: flex;
  flex-direction: column;
}

.blog-section .user-name {
  transition: color 200ms ease;
}

.blog-section .user-name:hover {
  color: var(--secondary-color);
}

.blog-section .user-detail span {
  font-size: 0.9rem;
  color: var(--gray-color);
}

.user-dropdown {
  position: relative;
}

.user-dropdown .user-name:hover ~ .user-dropdown-items {
  opacity: 1;
}

.user-dropdown-items {
  position: absolute;
  padding: 1rem;
  border: 1px solid var(--gray-color);
  background-color: #fff;
  z-index: 5;
  top: 3.5rem;
  left: -2rem;
  border-radius: 5px;
  width: clamp(14rem, 18rem + 1rem, 25rem);
  opacity: 0;
  transition: all 300ms ease;
}

.user-dropdown-items::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 25%;
  display: inline-block;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--gray-color);
  border-left: 12px solid transparent;
}

.user-dropdown-items .top-half {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1.2rem;
  margin-bottom: 1rem;
}

.user-dropdown-items .top-half a:first-child {
  width: 35px;
  height: 35px;
}
.user-dropdown-items .top-half a:last-child {
  white-space: nowrap;
  font-size: 1.1rem;
}
.user-dropdown-items .bottom-half p {
  font-size: 0.8rem;
}

.user-dropdown-items .bottom-half a {
  font-size: 0.8rem;
  text-decoration: underline;
  text-align: right;
}

/********* BLOG SECTION *******/

.blog-section {
  padding: 5rem 4rem;
  border-left: 1px solid var(--divider);
  border-right: 1px var(--divider) solid;
}

.blog-section .blog-content {
  padding: 3rem 0 0;
}

.blog-content .blog-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.blog-content .blog-subtitle {
  color: var(--gray-color);
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.blog-texts {
  text-align: center;
}

.blog-texts p {
  line-height: 30px;
  text-align: justify;
}

.blog-texts img,
.blog-texts p:not(:last-child) {
  margin-bottom: 2rem;
}

.blog-content img:first-child {
  width: 95%;
}

.blog-content img {
  width: 80%;
}

/******* SIDEBAR *******/

.single-blog-sidebar {
  padding: 5rem 2rem 0;
  height: fit-content;
  border-right: 1px solid var(--divider);
}

.get-started {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.get-started-link {
  padding: 0.6rem 2.4rem;
  background-color: var(--primary-color);
  border: var(--primary-color) 1px solid;
  color: var(--accent-color);
  border-radius: 100vmax;
  white-space: nowrap;
  transition: all 200ms ease;
}

.get-started-link:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 40px;
}

.get-started .sign-in-link {
  color: var(--primary-color);
  transition: color 200ms ease;
  white-space: nowrap;
}

.get-started .sign-in-link:hover {
  color: var(--secondary-color);
}

.sidebar-user-detail {
  padding: 3rem 0 0;
}

.sidebar-user-detail .details-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 0.9rem;
}

.sidebar-user-detail .profile-img {
  border-radius: 50%;
  width: 90px;
  margin-bottom: 1rem;
  display: flex;
}

.sidebar-user-detail img {
  border-radius: 50%;
  width: 100%;
}

.sidebar-user-detail .username {
  width: 100%;
}

.sidebar-user-detail span {
  color: var(--darker-gray);
}

.sidebar-user-detail p {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--darker-gray);
}

.sidebar-user-detail > a {
  width: 100%;
  font-size: 0.9rem;
  text-decoration: underline;
  color: var(--darker-gray);
  text-align: right;
}

.sidebar-blogs-content {
  padding: 2rem 0 0;
}

.sidebar-blogs-content > h1 {
  font-size: 1.4rem;
  text-align: left;
  margin-bottom: 0.6rem;
  font-weight: 600;
}

.sidebar-single-content {
  border-bottom: 1px solid var(--divider);
  padding: 1rem 0;
}

.sidebar-single-content h2 {
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  line-height: 1.2;
  font-weight: 500;
}

.sidebar-single-content img {
  width: 100%;
  margin-bottom: 0.3rem;
}

.sidebar-single-content p {
  color: var(--darker-gray);
  font-size: 0.85rem;
  text-align: justify;
}

/****** COMMENT SECTION ******/

.comment-section {
  padding: 3rem 0rem 0;
  border: 1px solid var(--divider);
  padding: 2rem;
}

.comment-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.post-comment {
  margin-bottom: 2rem;
  position: relative;
}

.post-comment textarea {
  width: 100%;
  resize: none;
  min-height: 100px;
  border-radius: 10px;
  padding: 2rem;
  outline: none;
  border: 1px solid var(--divider);
  font-size: 1rem;
}

textarea:focus {
  border: 1px solid var(--darker-gray);
}

.post-comment input {
  position: absolute;
  bottom: 6%;
  right: 0.5%;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 100vmax;
  color: #fff;
  cursor: pointer;
  transition: all 200ms ease;
}

.post-comment input:hover {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  background-color: #fff;
}

.single-comment {
  padding: 1rem 0;
  text-align: justify;
}

.single-comment:not(:last-child) {
  border-bottom: 1px solid var(--divider);
}

.single-comment .user-detail {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
.single-comment .user-pic {
  width: 30px;
  height: 30px;
  background-color: var(--tertiary-color);
  border-radius: 50%;
  margin-bottom: 0.4rem;
}

.single-comment .username {
  font-size: 0.9rem;
  color: var(--secondary-color);
  transition: color 200ms ease;
}

.single-comment .username:hover {
  color: var(--tertiary-color);
}

.single-comment .user-comment {
  padding: 0.5rem 0;
}
