.single-blog-page {
  width: 75%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
}

/******* BLOG USER SECTION *******/

.blog-section .user-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-section .user-social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.user-social-links a {
  color: var(--gray-text-color);
  transition: color 200ms ease;
}

.user-social-links a:hover {
  color: black;
}

.blog-section .user-details {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.blog-section .user-image {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 50%;
}

.blog-section .user-detail {
  display: flex;
  flex-direction: column;
}

.blog-section .user-detail span:last-child {
  font-size: 0.9rem;
  color: var(--gray-text-color);
}

/********* BLOG SECTION *******/

.blog-section {
  padding: 5rem 3rem;
  border-right: 1px var(--divider) solid;
}

.blog-section .blog-content {
  padding: 3rem 0 0;
}

.blog-content .blog-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.blog-content .blog-subtitle {
  color: var(--gray-text-color);
  font-weight: 500;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.blog-texts {
  text-align: center;
}

.blog-texts p {
  text-align: justify;
}

.blog-texts img,
.blog-texts p:not(:last-child) {
  margin-bottom: 2rem;
}

.single-blog-sidebar {
  padding: 5rem 1.5rem 0;
}

.blog-content img {
  width: 75%;
}

.blog-content img:first-child {
  width: 85%;
}

/******* SIDEBAR *******/

.get-started {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.get-started-link {
  padding: 0.8rem 2.4rem;
  background-color: var(--primary-color);
  border: var(--primary-color) 1px solid;
  color: var(--accent-color);
  border-radius: 100vmax;
  white-space: nowrap;
  transition: all 200ms ease;
}

.get-started-link:hover {
  border: 1px solid var(--secondary-color);
  background-color: var(--accent-color);
  color: var(--secondary-color);
  border-radius: 40px;
}

.get-started .sign-in-link {
  color: var(--primary-color);
  transition: color 200ms ease;
  white-space: nowrap;
}

.get-started .sign-in-link:hover {
  color: var(--secondary-color);
}

/****** COMMENT SECTION ******/

.comment-section {
  padding: 3rem 0rem 0;
  border: 1px solid var(--divider);
  padding: 2rem;
}

.comment-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.single-comment {
  padding: 1rem 0;
  text-align: justify;
}

.single-comment:not(:last-child) {
  border-bottom: 1px solid var(--divider);
}

.single-comment .user-detail {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
}
.single-comment .user-pic {
  width: 30px;
  height: 30px;
  background-color: var(--tertiary-color);
  border-radius: 50%;
  margin-bottom: 0.4rem;
}

.single-comment .username {
  font-size: 0.9rem;
  color: var(--secondary-color);
  transition: color 200ms ease;
}

.single-comment .username:hover {
  color: var(--tertiary-color);
}

.single-comment .user-comment {
  padding: 0.5rem 0;
}
