.sign-up-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-page .background {
  width: 100%;
  min-height: 100vh;
  background: url(https://picsum.photos/1200/1500?random=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 761px;
  height: 100%;
  padding: 0 2rem;
}

.form-wrapper h1 {
  margin-bottom: 3rem;
  font-size: clamp(2.2em, 1.8vw + 0.4em, 5em);
}

.form-wrapper form {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0 2rem;
}

.name-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.input-wrapper {
  position: relative;
  width: fit-content;
  isolation: isolate;
  width: 80%;
}

.input-wrapper label {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translateY(-50%);
  color: var(--darker-gray);
  background-color: #fff;
  pointer-events: none;
  transition: all 250ms ease-in-out;
  padding: 0.1rem 0.25rem;
}

.input-wrapper input {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: 1px solid var(--divider);
  background-color: transparent;
  width: 100%;
}

.input-wrapper input:focus + label,
.input-wrapper input:valid + label {
  transform: translateY(-155%);
  font-size: 0.8rem;
  color: var(--secondary-color);
}

.input-wrapper input:focus {
  outline: 1px solid var(--secondary-color);
}

.input-wrapper svg {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--darker-gray);
  font-size: 1.3rem;
  cursor: pointer;
}

.input-wrapper svg::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--black-text);
  top: 0;
  right: 100px;
}

.form-wrapper .extra-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.form-wrapper .remember-me-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.form-wrapper input[type="checkbox"] {
  margin-right: 0.3rem;
  cursor: pointer;
}

.form-wrapper label[for="remember-me"] {
  cursor: pointer;
}

.form-wrapper .forgot-password {
  color: var(--primary-color);
}

.form-wrapper input[type="submit"] {
  padding: 1rem 3rem;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--white-text);
  cursor: pointer;
  transition: background 250ms ease-in-out;
  font-size: 1rem;
}

.form-wrapper input[type="submit"]:hover {
  background-color: var(--secondary-color);
  color: var(--white-text);
  cursor: pointer;
}

.or-divider {
  color: var(--divider);
  position: relative;
  margin: 2rem 0;
}

.or-divider::before {
  content: "";
  width: 500%;
  height: 1px;
  background-color: var(--divider);
  position: absolute;
  right: 110%;
  top: 50%;
}

.or-divider::after {
  content: "";
  width: 500%;
  height: 1px;
  background-color: var(--divider);
  position: absolute;
  left: 110%;
  top: 50%;
}

.social-login-links > div {
  outline: 1px solid var(--divider);
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  transition: outline 200ms ease;
}

.social-login-links > div:not(:last-child) {
  margin-bottom: 1.2rem;
}

.social-login-links > div:hover {
  outline: 1px solid var(--secondary-color);
}

.social-login-links > div img {
  width: 32px;
}

.form-wrapper .suggest-signup {
  margin-top: 2.5rem;
}

.form-wrapper .suggest-signup .signup-link {
  color: var(--primary-color);
}
